.header__logo{
    width: 142px;
    height: 33px;
    object-fit: cover;
    margin-bottom: 41px;
}
@media (min-width:320px) and (max-width: 768px){
    .header__logo{
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6;
    margin-left: 27px;
    }
}