.profile__text{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
    color: #fff;
    margin-top: 16px;
}
@media (min-width:320px) and (max-width: 768px){
    .profile__text{
    margin-top: 14px;
    font-size: 14px;
    line-height: 16.94px;
    }
}